@font-face {
    font-family: socialico;
    src: url('fonts/Socialico.eot');
    src: url('fonts/Socialico.eot?#iefix') format('embedded-opentype'),
    url('fonts/Socialico.ttf')
}

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
html {
    font-family: Arial;
}
.clr {
    clear: both;
}
.container {
    min-height: 100%;
    width: 1280px;
    margin: 0 auto;
}
#footer-layer {
    height: 535px;
}
#footer {
    height: 535px;
    margin: -535px auto 0;
    width: 1280px;
}
.paddingSite {
    padding: 50px;
}
.product {
    background-color: #445162;
}
.product-h1 {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    line-height: 36px;
}
.Product-ul {
    list-style-image: url(img/check_icon.png);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    padding-top: 51px;
    padding-left: 32px;
}
.headerImg {
    float: right;
}
.headerText {
    float: left;
}
.about-h2 {
    float: left;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding-bottom: 24px;
}
.product-p {
    float: left;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 653px;
    hyphens: auto;
}
.aboutVideo {
    float: right;
}
.dignity {
    background-color: #f5f5f5;
    padding: 50px 50px 24px;
}
.dignity-ul1 {
    list-style-type: none;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.DignityList {
    float: left;
    background: url(img/3-layers.jpg) 0 4px no-repeat;
    padding-left: 41px;
    padding-bottom: 26px;
    margin-right: 8px;
    width: calc(50% - 49px);
}
.dignity-h2, .scrinshots-h2, .reviews-h2, .buy-h1 {
    text-align: center;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding-bottom: 20px;
}
.scrinshots {
    padding-right: 34px;
}
.scrinshotsArticle {
    margin-right: 16px;
    float: left;
    width: calc(50% - 16px);
}
.scrinshotsArticle-h2 {
    padding-left: 215px;
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
.scrinshots-p {
    padding-left: 215px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.scrinshots-img {
    padding-bottom: 30px;
    float: left;
}
.reviews {
    background-color: #f5f5f5;
}
.review {
    float: left;
    width: calc(50% - 17px);
}
.review:nth-of-type(odd) {
    margin-right: 16px;
}
.review:nth-of-type(even) {
    margin-left: 16px;
}
.review:nth-of-type(n+3) {
    margin-top: 20px;
}
.reviewText {
    position: relative;
    float: right;
    width: 468px;
    background: #ebebeb;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 4px;
}
.reviewText::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
    top: 27px;
    background: #ebebeb;
    transform: rotate(45deg);
}
.review-img {
    float: left;
    border-radius: 50%;
}

.review-p {
    color: #333333;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.reviewSign {
    padding-top: 9px;
    color: #989898;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.buy {
    padding: 50px 145px 50px;
}
.buyCont {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.contacts {
    height: 509px;
    background-color: #445162;
}
.copyright {
    text-align: center;
    color: #445162;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    background-color: #f5f5f5;
}
.Contacts-h2 {
    padding-top: 50px;
    padding-bottom: 28px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.input {
    height: 40px;
    width: 490px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 21px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    border-style: none;
}

.fieldset {
    margin-left: 249px;
    width: 500px;
    text-align: center;
    border-style: hidden;
    float: left;
    margin-right: 30px;
}

.contactsTextarea {
    height: 170px;
    width: 490px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 21px;
    padding-left: 10px;
    resize: none;
    border-radius: 5px;
    outline: none;
    border-style: none;
}

.contactsButton {
    width: 140px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #445162;
    outline: 0;
    border: 0;
}

.standart {
    height: 306px;
}

.buyVariant {
    width: 300px;
    background-color: #445162;
    border-radius: 5px;
    text-align: center;
}

.offer {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    padding-top: 11px;
    padding-bottom: 8px;
}

.cost {
    width: 296px;
    height: 71px;
    border: 2px solid #445162;
    background-color: #fff;
}

.cost-h3 {
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    padding-top: 12px;
}

.buy-ol {
    padding-top: 16px;
    padding-left: 40px;
    padding-bottom: 16px;
    text-align: left;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.buyButton {
    display: inline-block;
    text-decoration: none;
    width: 260px;
    height: 40px;
    background: #ffffff;
    border-radius: 5px;
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}

.premium {
    height: 404px;
}

.lux {
    height: 499px;
}
.contacts-ul {
    padding-top: 3px;
    list-style-type: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.contactsList {
    padding-bottom: 20px;
}
.contactsIco {
    float: left;
    list-style-type: none;
    padding-right: 4px;
}
.contactsIcoLink {
    padding-bottom: 13px;
}

.socialLink {
    text-decoration: none;
}

.social {
    color: #ffffff;
    font-style: normal;
    font-size: 60px;
}